*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    font-family: "Scope one", serif;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    box-sizing: border-box;
}

:root{
    --color-primary: white;
    --color-secondary: grey;
    --hue-color: 206;
    --bg-color: hsl(var(--hue-color), 4%, 6%);
}

body{
    background-color: var(--bg-color);
}

header{ 
    top: 0;
    left: 0;
    background-color: rgb(22, 22, 22);
    justify-content: space-between;
    position: fixed;
    display: grid;
    transition: all .5s ease;
    height: 100%;
    margin: auto;
    gap: 1rem;
    align-items: center;
    transition: all .5s ease;
}

.navlist {
    display: grid;
    position: 0;
    gap: 5rem;
    color: var(--color-primary);
}

.navlist a{
    margin: 3rem 3rem;
    font-size: 1.3rem;
    color: var(--color-primary);
    transition: all .5s ease;
}

.navlist li{
    color: var(--color-primary);
    transition: all .5s ease;
}

.navlist :hover {
    color: grey;
}

.navlist :hover i {
    color: grey;                /* Cambia el color del ícono en hover */
}



.admIcon{
    transform: scale(1.5);
    color: var(--color-primary);
    transition: all .5s ease;
    margin: 2px 20px;
    position: absolute;
    display: inline-flex;  
}

.admIcon i{
    gap: 1rem;  
}

